[Unit]
Description=Samba Connector
After=syslog.target

[Service]
User=smb-con
ExecStart=/opt/smb-con/smb-conf.jar
SuccessExitStatus=1 4 3

[Install]
WantedBy=multi-user.target